Flask
langchain
langchain-google-genai
faiss-cpu
python-dotenv
unstructured
openpyxl
sentence-transformers
huggingface-hub
streamlit
langchain-community  
langchain-core
langchain-classic
msoffcrypto-tool
